img{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
  box-shadow:0 0 25px white,
              0 0 50px white;
}
.heroespage{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color:red;
    
}
.begin{
  color: orange;
font-size: 1cm;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-weight: 900;
}
.img{
  border-radius: 2px;
height: 5cm;
width: 4cm;
box-shadow: none;


}
.parent{
  background-color: green;
background-color: rgb(61, 215, 243);
  background-size: 18cm;
 

  display: block;
  flex-direction: column;
  justify-content: center;
  width: 15cm;
  align-items: center;
  border-radius: 1cm;
font-weight: bolder;
  font-size: 0.5cm;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: green;
}
button{
  color: white;
  background-color: blue;
  width: 2.9cm;
  height: 1cm;
  border-radius: 1cm;
  font-weight:900;
  font-size: 1rem;
}
.grandparent{
  display: inline-flex;
  flex-direction: row;
  gap: 1px;
 
}
.image{
gap: 4px;
}



@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

  




