body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 40px;
    height: 40px;
}
.button{
   
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  gap: 4px;
   
}
button{
    background-color: purple;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
 
    height: 40px;
 border-radius: 2cm;
 border: 1px solid black;
 
}
button:hover{
    background-color: blue;
}

.h1{
    color: white;
  font-size: 70;
font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid lightblue;
    width: 700px;
    background: linear-gradient(to left,lightblue,pink)
}
.he{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.h2{
    color: green;
    font-size: 50;
    font-style: italic;
}
.isaiah{
    color:red;
 font-weight:bolder ;
 font-size: 30;
}
.grif{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

    border:2px solid green;
    width: 200px;
    height: 100%;
    background-color: brown;
    border-radius: 20px;

}
.bat{
    background-color: green;
    width: 100%;
    border-color: green;
 
}
.im{
    width: 100%;
    height: 100px;
}
.parent{
     display: flex;
    flex-direction: row;
    align-items:center;
    gap: 100px;
    justify-content:space-between;

  
   
    

}
.child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: lightblue;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-color: white;


}
.image{
    height: 4cm;
    width: 4cm;
}



.grandparent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.reg{
    border: 2px solid red;
    height: 30px;
    color: green;
  background-color: orange;
  border-radius: 10px;
  font-size: larger;
  font-weight: 900;
  font-style: italic;

}
.reig{
    color: green;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
.children{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}
.lastbit{
    background-color: rgb(6, 85, 6);

}
.follow{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   gap: 2cm;

}
.list{
    display:flex;
    flex-direction:column;
    justify-content: left;
    align-items: start;
 
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}